.header {
    background-color: #444e56;
    width: 1920px;
    height: 150px;
}

body {
    min-width: 300px;
    font-size: 14px;
    line-height: 1.4;
    font-family: "Arial", sans-serif;
}

.services-block-text {
    font-family:'Segoe UI' bold;
    font-size: 12px; 
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #e5e5e5;
}

.main-menu>li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    font-family: "Segoe UI", bold, 30pt;
}

.main-menu a {
    display: block;
    margin-left: -1px;
    padding: 8px 10px;
    color: #0088cc;
    border-left: 1px solid #e5e5e5;
    font-family: "Segoe UI", bold;
}

.main-menu a:hover {
    background-color: #f5f5f5;
}

.header-logo {
    float: left;
    text-transform: uppercase;
    font-family: 'Segoe UI', bold;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 375px;
}

.header-logo span {
    color: #6fa2cc;
    font-family: 'Segoe UI', bold;
    font-size: 30px;
}

.image {
    background-image: url(".Users/Student/Desktop/Новая папка (2)/images");
    width: 1920px;
    height: 800px;
}